

  <nav class="navbar navbar-expand-lg bg-dark  border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <!-- Navbar left -->
      <a class="navbar-brand" href="#">MERN Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active text-body-secondary" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-body-secondary" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-body-secondary" aria-current="page" href="#">Products</a>
          </li>         
        </ul>
        
      </div>
      <ul class="nav justify-content-end">
        <img src="../images/unknown avatar.jpeg" class="rounded-circle" alt="Bootstrap" width="50" height="50">
        
        <div class="dropdown">
           
            <button class="btn  text-body-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hi User
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button">Action</button></li>
              <li><button class="dropdown-item" type="button">Another action</button></li>
              <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
        </div>
        <li class="nav-item">
            <a class="nav-link active text-body-secondary" aria-current="page" href="/users/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-body-secondary" aria-current="page" href="/users/login">Login</a>
        </li>

       
      </ul>  
    </div>




  </nav>