<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./images/Bicicleta Mtb Overtech  D_NQ_NP_2X_907291-MLU72183575631_102023-F.webp" class="d-block w-100" alt="../public/images/Bicicleta Mtb Overtech  D_NQ_NP_2X_907291-MLU72183575631_102023-F.webp">
          </div>
          <div class="carousel-item">
            <img src="./images/Heladera no frost Siam  D_NQ_NP_2X_788805-MLA51194654245_082022-F.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./images/Lampara Led Inteligente Philips Wifi Smart Color E27  D_NQ_NP_2X_944991-MLA51522453673_092022-F.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./images/Lavasecarropas automático Candy RapidÓ ROW41494DWMRT D_NQ_NP_2X_746881-MLA54948767821_042023-F.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
      </div>


<!-- 
    <h1>Habilitación de celulares</h1>


    <h2>Seleccione los días</h2>
    <button>Lunes</button>
    <button>Martes</button>
    <button>Miércoles</button>
    <button>Jueves</button>
    <button>Viernes</button>
    <button>Sábado</button>
    <button>Domingo</button>

   
    

<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck1">Mañana</label>
  
    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck2">Tarde</label>
  
    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck3">Noche</label>
  </div>

    <br/>
    <br/>



    <button type="reset">Cancelar</button>
    <button type="submit">Enviar</button>
     -->
</body>
</html>